body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0b0b0b, #2a0f0f);
  color: white;
  display: flex;
  justify-content: center;
}

.app {
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

h1 {
  color: gold;
}

.desc {
  font-size: 14px;
  color: #bbb;
}

.saldo-box {
  background: #111;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
}

.card {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
}

button {
  background: gold;
  font-weight: bold;
}

.roleta-box {
  position: relative;
  margin: 15px auto;
  width: 300px;
}

.ponteiro {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: red;
}